@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-primary: 31 36 40;

  }
}
@layer components {

  .glass-container{
    background: hsla(0, 0%, 100%, .25);
  }
  .animation-menu{
    transform-origin: top center;
    animation: translateX 300ms ease-in-out;
  }
  @keyframes translateX {
    0% {
      opacity:0;
      transform: translateX(60px)
    }
    80% {
      transform: translateX(-5px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .hero-height{
    min-height : calc(100vh - 98px);
  }
}
.service-desc{
  display: none
}
.grid-container{
  -moz-columns: 510px 2;
  columns: 510px 2;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  width: 100%;
}
  @media screen and (min-width: 550px){

  }
  @media screen and (min-width: 550px){
    .service-card:hover .service-overlay{
      bottom: 0;
      opacity: 1;
      transform: translateY(0);
    }
    .service-overlay{
      opacity: 0;
      display: flex;
      bottom: 0;
      position: absolute;
      transform: translateY(70%);
      transition: transform .6s, opacity .4s;
    }
    .service-card:hover .service-desc{
      visibility: hidden;
    }
    .service-desc{
      display: flex;
      visibility: visible;
    }
}